<a href="https://colab.research.google.com/github/vector777-ai/MovieRecommendationSystem/blob/master/MovieRecommendationSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

--2019-11-30 10:22:38--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>] 152.88M  35.5MB/s    in 5.0s

2019-11-30 10:22:44 (30.7 MB/s) - ‘moviedataset.zip’ saved [160301210/160301210]

unziping ...
Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
movies_df=pd.read_csv("movies.csv")
links_df=pd.read_csv("links.csv")
ratings_df=pd.read_csv("ratings.csv")
tags_df=pd.read_csv("tags.csv")
print(movies_df)
print(links_df)
print(ratings_df)
print(tags_df)

       movieId  ...                                       genres
0            1  ...  Adventure|Animation|Children|Comedy|Fantasy
1            2  ...                   Adventure|Children|Fantasy
2            3  ...                               Comedy|Romance
3            4  ...                         Comedy|Drama|Romance
4            5  ...                                       Comedy
...        ...  ...                                          ...
34203   151697  ...                                     Thriller
34204   151701  ...                           (no genres listed)
34205   151703  ...                                        Drama
34206   151709  ...                                 Drama|Sci-Fi
34207   151711  ...                           (no genres listed)

[34208 rows x 3 columns]
       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
34203   151697    62636   76851.0
34204   151701  1773315  235450.0
34205   151703  1507355   58500.0
34206   151709  2436672  365065.0
34207   151711   388667   67844.0

[34208 rows x 3 columns]
          userId  movieId  rating   timestamp
0              1      169     2.5  1204927694
1              1     2471     3.0  1204927438
2              1    48516     5.0  1204927435
3              2     2571     3.5  1436165433
4              2   109487     4.0  1436165496
...          ...      ...     ...         ...
22884372  247753    49530     5.0  1430437962
22884373  247753    69481     3.0  1430437984
22884374  247753    74458     4.0  1430437968
22884375  247753    76093     5.0  1430437811
22884376  247753   130636     0.5  1430437721

[22884377 rows x 4 columns]
        userId  movieId                            tag   timestamp
0           19     2324                    bittersweet  1428651158
1           19     2324                      holocaust  1428651112
2           19     2324                   World War II  1428651118
3           23     7075                      hilarious  1378675786
4           23     7075                     Underrated  1378675786
...        ...      ...                            ...         ...
586989  247751    96655                         future  1366041126
586990  247751    96655                         robots  1366041128
586991  247753      356                        classic  1430438776
586992  247753      356  oscar (best supporting actor)  1430438776
586993  247753      356                   social drama  1430438776

[586994 rows x 4 columns]

In [5]:
print(movies_df["title"])

0                          Toy Story (1995)
1                            Jumanji (1995)
2                   Grumpier Old Men (1995)
3                  Waiting to Exhale (1995)
4        Father of the Bride Part II (1995)
                        ...
34203                     Grand Slam (1967)
34204                     Bloodmoney (2010)
34205           The Butterfly Circus (2009)
34206                           Zero (2015)
34207          The 2000 Year Old Man (1975)
Name: title, Length: 34208, dtype: object

In [7]:
movies_df["year"]=movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies_df["year"]=movies_df.year.str.extract('(\d\d\d\d)',expand=False)
movies_df["title"]=movies_df.title.str.replace('(\(\d\d\d\d\))','')
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [8]:
movies_df["genres"]=movies_df.genres.str.split('|')
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [10]:
moviesWithGenres=movies_df.copy()
for index,row in movies_df.iterrows():
  for genres in row["genres"]:
    moviesWithGenres.at[index,genres]=1
moviesWithGenres=moviesWithGenres.fillna(0)
moviesWithGenres.head()

   movieId                        title  ... Film-Noir (no genres listed)
0        1                    Toy Story  ...       0.0                0.0
1        2                      Jumanji  ...       0.0                0.0
2        3             Grumpier Old Men  ...       0.0                0.0
3        4            Waiting to Exhale  ...       0.0                0.0
4        5  Father of the Bride Part II  ...       0.0                0.0

[5 rows x 24 columns]

In [11]:
ratings_df=ratings_df.drop("timestamp",axis=1)
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

In [28]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [29]:
inputId=movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
inputMovies = pd.merge(inputId,inputMovies)
inputMovies=inputMovies.drop('genres',axis=1).drop('year',axis=1)
print(inputMovies)

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [30]:
userMovies=moviesWithGenres[moviesWithGenres['movieId'].isin(inputMovies['movieId'].tolist())]
print(userMovies)

      movieId                title  ... Film-Noir (no genres listed)
0           1            Toy Story  ...       0.0                0.0
1           2              Jumanji  ...       0.0                0.0
293       296         Pulp Fiction  ...       0.0                0.0
1246     1274                Akira  ...       0.0                0.0
1885     1968  Breakfast Club, The  ...       0.0                0.0

[5 rows x 24 columns]

In [31]:
userMovies=userMovies.reset_index(drop=True)
userGenreTable=userMovies.drop('movieId',1).drop('title',1).drop('genres',1).drop('year',1)
print(userGenreTable)

   Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
0        1.0        1.0       1.0  ...      0.0        0.0                 0.0
1        1.0        0.0       1.0  ...      0.0        0.0                 0.0
2        0.0        0.0       0.0  ...      0.0        0.0                 0.0
3        1.0        1.0       0.0  ...      0.0        0.0                 0.0
4        0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [33]:
print(inputMovies['rating'])

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

In [34]:
userProfile=userGenreTable.transpose().dot(inputMovies['rating'])
print(userProfile)

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [36]:
genreTable=moviesWithGenres.set_index(moviesWithGenres['movieId'])
genreTable=genreTable.drop('movieId',1).drop('title',1).drop('genres',1).drop('year',1)
genreTable.head()

         Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
movieId                                  ...
1              1.0        1.0       1.0  ...      0.0        0.0                 0.0
2              1.0        0.0       1.0  ...      0.0        0.0                 0.0
3              0.0        0.0       0.0  ...      0.0        0.0                 0.0
4              0.0        0.0       0.0  ...      0.0        0.0                 0.0
5              0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [37]:
recommendationTable=((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable.head()

movieId
1    0.594406
2    0.293706
3    0.188811
4    0.328671
5    0.188811
dtype: float64

In [39]:
recommendationTable=recommendationTable.sort_values(ascending=False)
recommendationTable.head()

movieId
5018      0.748252
26093     0.734266
27344     0.720280
148775    0.685315
6902      0.678322
dtype: float64

In [41]:
movies_df.loc[movies_df['movieId'].isin(recommendationTable.head(20).keys())]

       movieId  ...  year
664        673  ...  1996
1824      1907  ...  1998
2902      2987  ...  1988
4923      5018  ...  1991
6793      6902  ...  2002
8605     26093  ...  1962
8783     26340  ...  1976
9296     27344  ...  1999
9825     32031  ...  2005
11716    51632  ...  2003
11751    51939  ...  2007
13250    64645  ...  1968
16055    81132  ...  2010
18312    91335  ...  2009
22778   108540  ...  2012
22881   108932  ...  2014
25218   117646  ...  2000
26442   122787  ...  1959
32854   146305  ...  2000
33509   148775  ...  2009

[20 rows x 4 columns]